In [1]:
import json
import pandas as pd

In [2]:
df = pd.read_json('tweets_DM.json',lines=True)

In [3]:
dict1 = {}
dict1['tweet_id'] = []
dict1['text'] = []
dict1

{'tweet_id': [], 'text': []}

In [4]:
for i in range(len(df)):
    text = df._source[i]['tweet']['text']
    tweet_id = df._source[i]['tweet']['tweet_id']
    dict1['tweet_id'].append(tweet_id)
    dict1['text'].append(text)

In [5]:
df2 = pd.DataFrame(dict1)

In [6]:
emotion = pd.read_csv('emotion.csv')

In [7]:
identification = pd.read_csv('data_identification.csv')

In [8]:
df3 = df2.merge(identification, on = 'tweet_id')
df3 = df3.drop_duplicates()
df3

,tweet_id,text,identification
0,0x376b20,"People who post ""add me on #Snapchat"" must be ...",train
1,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",train
2,0x28b412,"Confident of your obedience, I write to you, k...",test
3,0x1cd5b0,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,train
4,0x2de201,"""Trust is not the same as faith. A friend is s...",test
...,...,...,...
1867530,0x316b80,When you buy the last 2 tickets remaining for ...,test
1867531,0x29d0cb,I swear all this hard work gone pay off one da...,test
1867532,0x2a6a4f,@Parcel2Go no card left when I wasn't in so I ...,test
1867533,0x24faed,"Ah, corporate life, where you can date <LH> us...",train
1867534,0x34be8c,Blessed to be living #Sundayvibes <LH>,train

In [9]:
df3.to_csv('alltext.csv') # all data without emotion

In [10]:
df4 = df2.merge(emotion, on = 'tweet_id')

In [11]:
df4 = df4.drop_duplicates()
df4

,tweet_id,text,emotion
0,0x376b20,"People who post ""add me on #Snapchat"" must be ...",anticipation
1,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",sadness
2,0x1cd5b0,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,fear
3,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,joy
4,0x2c91a8,Still waiting on those supplies Liscus. <LH>,anticipation
...,...,...,...
1455558,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,joy
1455559,0x38959e,In every circumtance I'd like to be thankful t...,joy
1455560,0x2cbca6,there's currently two girls walking around the...,joy
1455561,0x24faed,"Ah, corporate life, where you can date <LH> us...",joy
1455562,0x34be8c,Blessed to be living #Sundayvibes <LH>,joy

In [12]:
df4.to_csv('tweet_data.csv') # all training data with emotion